# Ignore user-uploaded MP3 files in the DownloadedSongs directory
DownloadedSongs/

# Ignore Recently_Played.txt file (because it will keep changing)
recentlyPlayed.txt

# Ignore default photo file
defaultphoto.png

# Ignore default profile file 
default_profile.png