# Ignore uploaded songs and changing files
backend/Downloaded_Songs/
backend/Recently_Played.txt

# Ignore default static images
static/default_picture.png
static/default_profile.png

# Ignore virtual environment and temp files
venv/
__pycache__/
*.pyc
.DS_Store
*.db
*.mp3

# Optional secrets
.env
